.img{
    background-image: url(../img/pattern.png);
    height: 200px; 
    background-color:rgb(74, 238, 238);
    
}

.logo{
    position: absolute;
    padding:10px;       
    top: 50px;
    left: 10;
    width: 25%;
}

.titolo h1 {
    font-size: 55px;
    margin-bottom: -10px;
}
.titolo p{
    font-size: 15px;
    color:gray;
}

#cambiocolore{
    color: rgb(74, 238, 238);
}

.descrizione h6{
  margin-top: 0px;
}

#spaziatura{
    margin-top: -20px;
}

.yellow{
    background-color: yellow;
}

.lista{
    margin-left:-2%;
}
